* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
}

.container {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
  background: white;
  width: 100%;
  height: 100px;
  padding: 0 20px;
  border-bottom: 1px solid lightgrey;
}

.logo {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: 70%;
}

.logo h1 {
  font-size: 22px;
  font-weight: 400;
  margin-left: 8px;
  color: #5f6368;
  cursor: pointer;
}

.navbar {
  height: 30%;
}

.navbar .navbar-left ul li {
  float: left;
  list-style: none;
  margin-right: 40px;
  font-weight: 600;
  color: #5f6368;
  cursor: pointer;
}

.navbar .navbar-left ul li:last-child {
  color: #3367d6;
  border-bottom: 4px solid #3367d6;
  padding-bottom: 4px;
}

.navbar .navbar-right {
  float: right;
  margin-right: 30px;
  font-weight: 600;
  color: #5f6368;
  cursor: pointer;
}

.main {
  margin-top: 100px;
  padding: 100px 210px;
}

.main .question {
  width: 100%;
  margin-top: 60px;
}

.main .question:first-child {
  margin-top: 0;
}

.main .question h2 {
  color: #3c4043;
  font-size: 24px;
  font-weight: 600;
  line-height: 32px;
}

.main .question p {
  font-size: 14px;
  letter-spacing: 0.2px;
  line-height: 24px;
  padding-top: 20px;
}

